<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Post:</b>
  <%= @blog.post %>
</p>


<%= link_to 'Edit', edit_country_blog_path(@blog.country, @blog) %> |
<%= link_to 'Back', country_blogs_path(@blog.country) %>
