<div id="countryView">
  <div id="ruby"
    data-country="<%=@country%>"
    data-boundaries="<%=@country.boundaries.to_json  %>">
  </div>

  <div class="mapStuff">
    <p id="notice"><%= notice %></p>
    <h2 id="countryName"><%= @country.name %></h2>
    <div class="details">
      <p class="lat"></p>
      <p class="lon"></p>
      <h2>Add a visited region on map click!</h2>
      <h3>Add details below:</h3><br>
      <div class="deet-field">
        <label>Radius of visited area (km):</label>
        <input type=text class="rad"><br>
      </div>
      <div class="deet-field">
        <label>Region note:</label>
        <input type=text class="popupNote"><br>
      </div>
    </div>
  </div>
  <div id="countryMap"></div>
  <div class="blogs">
    <h2>New Blog Post For <%=@country.name%>:</h2>
    <p id="notice"><%= notice %></p>
    <div class="deet-field blog">
      <label>Blog Title:</label>
      <input type=text class="blog-title">

    </div>
    <div class="deet-field blog">
      <label>Blog Post:</label>
      <textarea class="blog-content"></textarea>
      <p class="save"><i class="far fa-save"></i></p>
    </div>

    <h2>Previous Blog Posts From <%=@country.name%>:</h2>
    <div id="prev-blogs">
    <% @blogs.each do |blog| %>
      <div class="blog">
        <h3><%=blog.title%></h3>
        <p> <%= blog.created_at.strftime("%d %B %Y (%H:%M GMT):") %> </p>
        <p><%=blog.post%><p>
      </div>
    <%end%>
  </div>
</div>

  <div id="gallery">
    <div class="gallery-data">
      <%= form_for([@country.user, @country]) do |f| %>
        <% if @country.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@country.errors.count, "error") %> prohibited this image from being saved:</h2>
            <ul>
              <% @country.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h2>Select image files to add to your <%= @country.name %> gallery:</h2>
        <div class="field">
            <%= f.file_field :images, multiple: true %>
        </div>

        <div class="actions">
          <%= f.submit "Add images", class:"btn form-btn" %>
        </div>
      <% end %>
      </div>
    <% @country.images.each do |pic| %>
      <%= image_tag(pic.url, :class => "country-images") %>
    <% end %>
  </div>
</div>



<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
  let lat = document.querySelector('.lat');
  let lon = document.querySelector('.lon');
  let rad = document.querySelector('.rad');
  let popupNote = document.querySelector('.popupNote')
  let addCircle = function (event) {
    let circle = L.circle(event.latlng, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: rad.value*1000,
    stroke: false
    }).addTo(countryMap);
    circle.bindPopup(popupNote.value);
  }
  let bounds = L.latLngBounds(
    $('#ruby').data().boundaries._northEast,
    $('#ruby').data().boundaries._southWest
  );
  let centre = $('#ruby').data().centre;
  let zoom = $('#ruby').data().zoom;
  let countryMap = L.map('countryMap', {
      noWrap: true
  }).fitBounds(bounds);
  let layer = new L.StamenTileLayer("terrain",{
    noWrap: true
  }).addTo(countryMap);
  function onMapClick(event) {
    lat.innerHTML = event.latlng.lat;
    lon.innerHTML = event.latlng.lng;
    addCircle(event);
    alert("Added visited region");
  }
  function addBlog(blog){
    if (blog.title && blog.post){
      $('#prev-blogs').prepend(`<div class="blog">
        <h3>${blog.title}</h3>
        <p> <%=DateTime.now.strftime("%d %B %Y (%H:%M GMT):")%> </p>
        <p>${blog.post}<p>
      </div>`)
    }else {
      alert("Blog must have title and content!")
    }
  }
  function fetchBlog(uri,blog){
    let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    fetch(`${uri}/blogs.json`, {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': token,
      },
      body: JSON.stringify(blog)
    })
  }

  function saveBlog(){
    let data = $('#ruby').data()
    let uri = "<%=request.fullpath%>"
    let blog = {
      title: document.querySelector('.blog-title').value,
      post: document.querySelector('.blog-content').value,
      country: data.country
    }
    fetchBlog(uri, blog);
    addBlog(blog);
    document.querySelector('.blog-title').value = "";
    document.querySelector('.blog-content').value = "";
  }
  countryMap.addEventListener('click', onMapClick);
  let faSave = document.querySelector('i');
  faSave.addEventListener('click', saveBlog);
  console.log(JSON.stringify($('#ruby').data().boundaries))
</script>
